In [410]:
import pandas as pd
df = pd.read_csv("movies.csv")
df.head(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [411]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [ ]:
df.industry.unique() #gives unique values in given field

array(['Bollywood', 'Hollywood'], dtype=object)

In [413]:
df["industry"].unique() #same meaning as above cell

array(['Bollywood', 'Hollywood'], dtype=object)

In [414]:
#to print count of hollywood and bollywood movies
df.industry.value_counts()

industry
Hollywood    20
Bollywood    17
Name: count, dtype: int64

In [415]:
df.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [416]:
#columns filtering
df[["title","language","industry"]] #to get a subset of current dataframe

                                          title language   industry
0                               Pather Panchali  Bengali  Bollywood
1   Doctor Strange in the Multiverse of Madness  English  Hollywood
2                         Thor: The Dark World   English  Hollywood
3                               Thor: Ragnarok   English  Hollywood
4                       Thor: Love and Thunder   English  Hollywood
5                      The Shawshank Redemption  English  Hollywood
6                                  Interstellar  English  Hollywood
7                      The Pursuit of Happyness  English  Hollywood
8                                     Gladiator  English  Hollywood
9                                       Titanic  English  Hollywood
10                        It's a Wonderful Life  English  Hollywood
11                                       Avatar  English  Hollywood
12                                The Godfather  English  Hollywood
13                              The Dark Knight  English  Hollywood
14                             Schindler's List  English  Hollywood
15                                Jurassic Park  English  Hollywood
16                                     Parasite  English  Hollywood
17                            Avengers: Endgame  English  Hollywood
18                       Avengers: Infinity War  English  Hollywood
19           Captain America: The First Avenger  English  Hollywood
20          Captain America: The Winter Soldier  English  Hollywood
21                  Dilwale Dulhania Le Jayenge    Hindi  Bollywood
22                                     3 Idiots    Hindi  Bollywood
23                     Kabhi Khushi Kabhie Gham    Hindi  Bollywood
24                             Bajirao Mastani     Hindi  Bollywood
25                             Taare Zameen Par    Hindi  Bollywood
26                          Munna Bhai M.B.B.S.    Hindi  Bollywood
27                                           PK    Hindi  Bollywood
28                                        Sanju    Hindi  Bollywood
29                            The Kashmir Files    Hindi  Bollywood
30                            Bajrangi Bhaijaan    Hindi  Bollywood
31                                       Race 3    Hindi  Bollywood
32                                    Shershaah    Hindi  Bollywood
33                             K.G.F: Chapter 2  Kannada  Bollywood
34                    Pushpa: The Rise - Part 1   Telugu  Bollywood
35                                          RRR   Telugu  Bollywood
36                     Baahubali: The Beginning   Telugu  Bollywood

In [417]:
df[(df.release_year< 2010) & (df.release_year > 2005)]

# First, evaluate df.release_year < 2010 → boolean Series
# Then, evaluate df.release_year > 1955 → boolean Series
# Finally, combine them element-wise with &

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
7,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.0,307.1,Millions,USD,English
11,Avatar,Hollywood,2009,7.8,20th Century Fox,237.0,2847.0,Millions,USD,English
13,The Dark Knight,Hollywood,2008,9.0,Syncopy,185.0,1006.0,Millions,USD,English
22,3 Idiots,Bollywood,2009,8.4,Vinod Chopra Films,550.0,4000.0,Millions,INR,Hindi
25,Taare Zameen Par,Bollywood,2007,8.3,NaN,120.0,1350.0,Millions,INR,Hindi

In [418]:
df[df.studio == "Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
19,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [419]:
df.describe() #to view quick statistics

       release_year  imdb_rating        budget        revenue
count     37.000000    36.000000     37.000000      37.000000
mean    2007.027027     7.919444   2084.975135    4117.135135
std       17.657995     1.204947  11477.487145   16372.462682
min     1946.000000     1.900000      1.000000       3.100000
25%     2001.000000     7.800000     15.500000     263.100000
50%     2014.000000     8.100000    165.000000     701.800000
75%     2018.000000     8.400000    250.000000    2000.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [420]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         37 non-null     object
 1   industry      37 non-null     object
 2   release_year  37 non-null     int64
 3   imdb_rating   36 non-null     float64
 4   studio        34 non-null     object
 5   budget        37 non-null     float64
 6   revenue       37 non-null     float64
 7   unit          37 non-null     object
 8   currency      37 non-null     object
 9   language      37 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.0+ KB

In [421]:
df[df.imdb_rating == df.imdb_rating.max()] #this bool index returns all rows satifying the condition

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English

In [422]:
df[(df.imdb_rating == df.imdb_rating.max()) | (df.imdb_rating == df.imdb_rating.min())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
31,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [423]:
#add new column based on 1 existing column(in this case release_year)
#age = current year - release_year
#lambda is like a loop variable on every iteration it will store the release year of that sepcific movie

df["age"] = df.release_year.apply(lambda x: 2025 - x) 
df.head(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12

In [424]:
#OR
df["age"] = df["release_year"].apply(lambda x: 2025 - x) 
df.head(3)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12

In [425]:
#OR
df["age"] = df.apply(lambda x: 2025 - x["release_year"], axis=1) 
df.head(2)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3

In [426]:
#add new column based on 2 existing columns (in this case revenue and budget)
#profit = revenue - budget
df["profit"] = df.apply(lambda x: x["revenue"] - x["budget"], axis = 1)
df.head(2)

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8

In [427]:
df.index

RangeIndex(start=0, stop=37, step=1)

In [ ]:
#setting title as an index
#setting inplace = True modifies the original data frame 
df.set_index("title", inplace=True)

In [429]:
df.head(3)

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8

In [431]:
df.index #now the title is an index

Index(['Pather Panchali', 'Doctor Strange in the Multiverse of Madness',
       'Thor: The Dark World ', 'Thor: Ragnarok ', 'Thor: Love and Thunder ',
       'The Shawshank Redemption', 'Interstellar', 'The Pursuit of Happyness',
       'Gladiator', 'Titanic', 'It's a Wonderful Life', 'Avatar',
       'The Godfather', 'The Dark Knight', 'Schindler's List', 'Jurassic Park',
       'Parasite', 'Avengers: Endgame', 'Avengers: Infinity War',
       'Captain America: The First Avenger',
       'Captain America: The Winter Soldier', 'Dilwale Dulhania Le Jayenge',
       '3 Idiots', 'Kabhi Khushi Kabhie Gham', 'Bajirao Mastani ',
       'Taare Zameen Par', 'Munna Bhai M.B.B.S.', 'PK', 'Sanju',
       'The Kashmir Files', 'Bajrangi Bhaijaan', 'Race 3', 'Shershaah',
       'K.G.F: Chapter 2', 'Pushpa: The Rise - Part 1', 'RRR',
       'Baahubali: The Beginning'],
      dtype='object', name='title')

In [ ]:
df.loc["Gladiator"] #this works as array, we give index we get entire row as value

industry                   Hollywood
release_year                    2000
imdb_rating                      8.5
studio          Universal Pictures
budget                         103.0
revenue                        460.5
unit                        Millions
currency                         USD
language                     English
age                               25
profit                         357.5
Name: Gladiator, dtype: object

In [433]:
df.iloc[0] #integer based indexing

industry                        Bollywood
release_year                         1955
imdb_rating                           8.3
studio          Government of West Bengal
budget                            70000.0
revenue                          100000.0
unit                            Thousands
currency                              INR
language                          Bengali
age                                    70
profit                            30000.0
Name: Pather Panchali, dtype: object

In [434]:
df.iloc[2:6]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
title,,,,,,,,,,,
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8
Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English,8,674.0
Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English,3,420.0
The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English,31,48.3

In [ ]:
#to reset the index to default integers
df.reset_index(inplace= True)
df.head(3)
#now its back to normal integer indexing, not title

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language,age,profit
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali,70,30000.0
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English,3,754.8
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English,12,479.8