In [199]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [200]:
type(df) #pandas series

pandas.core.frame.DataFrame

In [201]:
type(df.day)

pandas.core.series.Series

In [202]:
type(df.day[0]) #string

str

In [203]:
import pandas as pd
df = pd.read_csv("weather_data.csv", parse_dates = ['day'])
type(df.day[0]) #covert to pandas date series

pandas._libs.tslibs.timestamps.Timestamp

In [204]:
df.set_index('day', inplace = True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [205]:
df.fillna(0, inplace=True)
df #inplace = True modifies original dataframe

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          0.0        9.0   Sunny
2017-01-05         28.0        0.0    Snow
2017-01-06          0.0        7.0       0
2017-01-07         32.0        0.0    Rain
2017-01-08          0.0        0.0   Sunny
2017-01-09          0.0        0.0       0
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [206]:
#modifies n.a values with mean() values or median() values
df = pd.read_csv("weather_data.csv")
df.fillna({
    'temperature' : df.temperature.mean(),
    'windspeed' : df.temperature.median(),
    'event' : 'No Event'
})

         day  temperature  windspeed     event
0   1/1/2017        32.00        6.0      Rain
1   1/4/2017        33.22        9.0     Sunny
2   1/5/2017        28.00       32.0      Snow
3   1/6/2017        33.22        7.0  No Event
4   1/7/2017        32.00       32.0      Rain
5   1/8/2017        33.22       32.0     Sunny
6   1/9/2017        33.22       32.0  No Event
7  1/10/2017        34.10        8.1    Cloudy
8  1/11/2017        40.00       12.0     Sunny

In [207]:
#fills the gives current value to next NaN value
df = pd.read_csv("weather_data.csv")
df.fillna(method='ffill')

C:\Users\fasil\AppData\Local\Temp\ipykernel_4488\3615443439.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        7.0   Sunny
6   1/9/2017         32.0        7.0   Sunny
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [208]:
df = pd.read_csv("weather_data.csv")
df.fillna(method='bfill', axis=1) # colums values given to backwards

C:\Users\fasil\AppData\Local\Temp\ipykernel_4488\2674373162.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', axis=1) # colums values given to backwards

         day temperature windspeed   event
0   1/1/2017        32.0       6.0    Rain
1   1/4/2017         9.0       9.0   Sunny
2   1/5/2017        28.0      Snow    Snow
3   1/6/2017         7.0       7.0     NaN
4   1/7/2017        32.0      Rain    Rain
5   1/8/2017       Sunny     Sunny   Sunny
6   1/9/2017         NaN       NaN     NaN
7  1/10/2017        34.1       8.1  Cloudy
8  1/11/2017        40.0      12.0   Sunny

In [209]:
#fills the gives current value to next NaN value(only 1 next value)
df = pd.read_csv("weather_data.csv")
df.fillna(method='ffill', limit = 1)

C:\Users\fasil\AppData\Local\Temp\ipykernel_4488\770160681.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', limit = 1)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017         32.0        9.0   Sunny
2   1/5/2017         28.0        9.0    Snow
3   1/6/2017         28.0        7.0    Snow
4   1/7/2017         32.0        7.0    Rain
5   1/8/2017         32.0        NaN   Sunny
6   1/9/2017          NaN        NaN   Sunny
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [210]:
#equally increments the values
df.interpolate()

C:\Users\fasil\AppData\Local\Temp\ipykernel_4488\4234544645.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

         day  temperature  windspeed   event
0   1/1/2017         32.0      6.000    Rain
1   1/4/2017         30.0      9.000   Sunny
2   1/5/2017         28.0      8.000    Snow
3   1/6/2017         30.0      7.000     NaN
4   1/7/2017         32.0      7.275    Rain
5   1/8/2017         32.7      7.550   Sunny
6   1/9/2017         33.4      7.825     NaN
7  1/10/2017         34.1      8.100  Cloudy
8  1/11/2017         40.0     12.000   Sunny

In [211]:
df.dropna() #drops all rows that have  n.a in them

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [212]:
#specifies the minimum number of non-NA values required to keep a row or column.
df.dropna(thresh=2)

         day  temperature  windspeed   event
0   1/1/2017         32.0        6.0    Rain
1   1/4/2017          NaN        9.0   Sunny
2   1/5/2017         28.0        NaN    Snow
3   1/6/2017          NaN        7.0     NaN
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
7  1/10/2017         34.1        8.1  Cloudy
8  1/11/2017         40.0       12.0   Sunny